@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.firstBox,
.fifthBox {
    background-color: #1f2937;
}

.logoContainer,
.headerContainer {
    margin-left: 128px;
    margin-right: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerBar,
.actionTitle {
    font-size: 24px;
}

.headerBar,
.actionTitle,
.actionContent,
.footer {
    color: #f9faf8;
}

.actionTitle {
    font-weight: bold;
}

.links {
    display: flex;
    gap: 16px;
}

.headerContainer {
    margin-top: 32px;
    padding-bottom: 64px;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    height: 200px;
    padding: auto;
}

.headerTitle {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.headerContent,
.links,
a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.signUp {
    width: fit-content;
}

.containerLeft .signUp {
    margin-top: 16px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    font-size: 18px;
    padding: 8px 24px;
}

.headerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: #E5E7EB;
}

.secondBox{
    text-align: center;
}

.infoContainer {
    padding: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.info img {
    border: medium solid #3882f6;
    border-radius: 15px;  
}

.imgText,
.info img {
    width: 150px;
    height: 150px;
}

.imgText {
    font-size: 14px;
    color: #1f2937;
    padding-top: 8px;
}

.thirdBox {
    background-color: #e5e7eb;
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    padding: 96px 128px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.source {
    font-size: 22px;
    font-weight: bolder;
    text-align: end;
    margin-top: 16px;
}

.actionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 128px;
    padding: 32px 64px;
    gap: 256px;
    background-color: #3882f6;
    border-radius: 10px;
}

.actionContainer .signUp {
    border-style: solid;
    border-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}